html, body {
  height:100%;
}
body {
  background-color: #ccc;
  font: 12px/14px 'Roboto', sans-serif;
}

a {
  outline: none;
}

.company-url {
  color: #0750ff;
  text-decoration: none;
}

.hidden {
  display: none!important;
}

.content {
  position: relative;
  height:100%;
}

#map {
  position: absolute;
  left:0;
  top:50px;
  bottom: 50px;
  right: 0;
  z-index: 1;
}
