html, body {
  height: 100%; }

body {
  background-color: #ccc;
  font: 12px/14px 'Roboto', sans-serif; }

a {
  outline: none; }

.company-url {
  color: #0750ff;
  text-decoration: none; }

.hidden {
  display: none !important; }

.content {
  position: relative;
  height: 100%; }

#map {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 50px;
  right: 0;
  z-index: 1; }

header {
  width: 100%;
  background: -webkit-linear-gradient(bottom, #205081 0%, #3572b0 100%);
  background: linear-gradient(to top, #205081 0%, #3572b0 100%);
  height: 50px;
  position: absolute;
  top: 0;
  z-index: 1; }

.navigation {
  display: block;
  padding: 15px 20px; }
  .navigation__item {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: 600;
    letter-spacing: 1px; }
    .navigation__item:hover, .navigation__item--active {
      color: #a3c1f3; }

.accordion {
  max-height: calc(100vh - 222px);
  overflow: auto; }
  .accordion__item {
    overflow: hidden; }
    .accordion__item.active > .accordion__content {
      max-height: 500px;
      -webkit-transition: max-height .3s;
      transition: max-height .3s; }
  .accordion__toggler {
    cursor: pointer;
    display: inline-block; }
  .accordion__content {
    max-height: 0px;
    -webkit-transition: max-height .3s;
    transition: max-height .3s; }

footer {
  position: absolute;
  background: -webkit-linear-gradient(bottom, #205081 0%, #3572b0 100%);
  background: linear-gradient(to top, #205081 0%, #3572b0 100%);
  z-index: 1;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 50px;
  color: #fff;
  line-height: 24px; }

.copy {
  color: #ECECEA;
  font-weight: 600;
  text-decoration: none; }
  .copy:hover {
    text-decoration: underline; }

.left-bar {
  position: absolute;
  padding: 20px 0 20px 20px;
  left: 0;
  background: rgba(255, 255, 255, 0.65);
  top: 50px;
  border-right: 1px solid #ccc;
  width: 370px;
  bottom: 50px;
  overflow: auto;
  z-index: 2; }
  .left-bar__title {
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: 500;
    color: #de1f11; }
  .left-bar__search {
    margin-bottom: 16px;
    background: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #103061;
    -webkit-transition: all .3s;
    transition: all .3s;
    outline: none;
    font-size: 14px;
    padding: 3px 7px; }
    .left-bar__search:active, .left-bar__search:focus {
      border-radius: 5px;
      border: 1px solid #103061; }

.company {
  margin: 5px 0;
  color: #103061; }
  .company__name {
    font-size: 16px;
    line-height: 18px;
    margin: 0; }
  .company--active {
    color: #0750ff; }

.vacancy {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  max-height: 450px;
  overflow: auto; }
  .vacancy__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px; }
  .vacancy__title {
    font-size: 16px;
    line-height: 18px;
    color: #313435;
    text-decoration: none;
    cursor: pointer; }
    .vacancy__title:hover {
      text-decoration: underline; }
  .vacancy--active {
    color: #f71e11;
    font-weight: 500; }

.additional-info {
  background: rgba(213, 223, 240, 0.8);
  padding: 20px;
  bottom: 50px;
  left: 200px;
  position: absolute;
  top: 50px;
  opacity: 0;
  width: 300px;
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
  font-size: 14px; }
  .additional-info--visible {
    left: 390px;
    opacity: 1;
    visibility: visible; }

.view-dou {
  text-decoration: none;
  color: #0750ff; }
  .view-dou:active, .view-dou:visited {
    color: #0750ff; }
  .view-dou:hover {
    text-decoration: underline; }

.back-btn {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 18px;
  z-index: 2; }
  .back-btn svg {
    fill: #000;
    -webkit-transition: fill .3s;
    transition: fill .3s; }
  .back-btn:hover svg {
    fill: #0750ff; }
