<!doctype html>
<html ng-app="NearHome" lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="favicon.ico">
    <meta name="theme-color" content="#ffffff">

    <title>NearHome | {{title}}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="bower_components/roboto-fontface/css/roboto/roboto-fontface.css" />
    <link rel="stylesheet" href="bower_components/roboto-fontface/css/roboto-condensed/roboto-condensed-fontface.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/common.css -->
    <link rel="stylesheet" href="css/common.css">
    <!-- endbuild -->
</head>
<body>
<headerview></headerview>

<!--<div class="content">-->
    <div class="content" ui-view></div>
<!--</div>-->

<footerview></footerview>
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/google-maps/lib/Google.js"></script>
<script src="bower_components/markerclustererplus/src/markerclusterer.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/common.js -->
<script src="js/common.js"></script>
<!-- endbuild -->
</body>
</html>