.accordion {
  max-height: calc(100vh - 222px);
  overflow: auto;
  &__item {
    overflow: hidden;
    &.active > .accordion__content {
      max-height:500px;
      transition: max-height .3s ;
    }
  }
  &__toggler {
    cursor: pointer;
    display: inline-block;
  }
  &__content {
    max-height: 0px;
    transition: max-height .3s ;
  }
}