footer {
  position: absolute;
  background: $blue-gradient;
  z-index: 1;
  bottom: 0;
  text-align: center;
  width:100%;
  height:50px;
  color: #fff;
  line-height: 24px;
}
.copy {
  color: #ECECEA;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}