header {
  width:100%;
  background: $blue-gradient;
  height:50px;
  position: absolute;
  top:0;
  z-index: 1;
}

.navigation {
  display: block;
  padding: 15px 20px;
  &__item {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    &:hover,
    &--active{
      color: #a3c1f3;
    }
  }
}