.left-bar {
  position: absolute;
  padding: 20px 0 20px 20px;
  left:0;
  background: rgba(255,255,255, .65);
  top:50px;
  border-right: 1px solid #ccc;
  width:370px;
  bottom: 50px;
  overflow: auto;
  z-index: 2;
  &__title {
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: 500;
    color: #de1f11;
  }
  &__search {
    margin-bottom: 16px;
    background: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $dark-blue;
    transition: all .3s;
    outline: none;
    font-size: 14px;
    padding: 3px 7px;
    &:active,
    &:focus {
      border-radius: 5px;
      border:1px solid $dark-blue;
    }
  }
}

.company {
  margin: 5px 0;
  color: $dark-blue;
  &__name {
    font-size: 16px;
    line-height:18px;
    margin: 0;
  }
  &--active {
    color: $active-blue;
  }
}

.vacancy {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  max-height: 450px;
  overflow: auto;
  &__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }
  &__title {
    font-size: 16px;
    line-height: 18px;
    color: #313435;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &--active {
    color: #f71e11;
    font-weight: 500;
  }
}


.additional-info {
  background: rgba(213,223,240, .8);
  padding: 20px;
  bottom: 50px;
  left: 200px;
  position: absolute;
  top: 50px;
  opacity: 0;
  width: 300px;
  transition: all .3s;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
  font-size: 14px;
  &--visible {
    left: 390px;
    opacity: 1;
    visibility: visible;
  }
}

.view-dou {
  text-decoration: none;
  color: $active-blue;
  &:active, &:visited {
    color: $active-blue;
  }
  &:hover {
    text-decoration: underline;
  }
}

.back-btn {
  width: 25px;
  position: absolute;
  right: 10px;
  top:18px;
  z-index: 2;
  svg {
    fill: #000;
    transition: fill .3s;
  }
  &:hover {
    svg {
      fill: $active-blue;
    }
  }
}