<div class="inner-content" style="padding: 50px 0">
    <form name="add" ng-submit="addCompany($event)" action="#">

        <label for="name">name<input type="text" id="name" name="name" required ng-model="companyData.name"></label>
        <span ng-show="add.name.$dirty && add.name.$error.required">required</span>

        <label for="douId">douId<input type="text" id="douId" name="douId" required ng-model="companyData.douId"></label>
        <span ng-show="add.douId.$dirty && add.douId.$error.required">required</span>

        <label for="city">city<input type="text" id="city" name="city" required ng-model="companyData.city"></label>
        <span ng-show="add.city.$dirty && add.city.$error.required">required</span>

        <label for="address">address<input type="text" id="address" name="address" required ng-model="companyData.address"></label>
        <span ng-show="add.address.$dirty && add.address.$error.required">required</span>

        <label for="site">site<input type="text" id="site" name="site" required ng-model="companyData.site"></label>
        <span ng-show="add.site.$dirty && add.site.$error.required">required</span>

        <button ng-disabled="add.$invalid" type="submit">Add</button>
    </form>
</div>
<style>
    /* temporary */
    input {
        display: block;
    }
    span {
        display: block;
    }
</style>