<header class="header">
    <nav class="navigation">
        <a class="navigation__item" ui-sref="home" ui-sref-active="navigation__item--active">Головна</a>
        <a class="navigation__item" ui-sref="about" ui-sref-active="navigation__item--active">Про сервіс</a>
        <a class="navigation__item" ui-sref="addCompany" ui-sref-active="navigation__item--active">Додати компанію</a>
    </nav>
</header>