<div class="wrapper">
    <div id="map"></div>
</div>
<div class="left-bar">

    <p class="left-bar__title">Пошук вакансій серед {{companies.length}} IT компаній Києва</p>
    <input class="left-bar__search" ng-change="updateMarkers()" ng-keyup="keyCheck($event)" type="text" placeholder="Пошук" ng-model="query">

    <div class="accordion">
        <div id="{{company.name}}" class="accordion__item"
             ng-repeat="company in companies | filter:query as filtered"
             ng-class="{'active' : query.length > 3 || activeCompany == $index}">
            <div class="accordion__toggler company"
                 ng-class="{'company--active' : activeCompany == $index}"
                 ng-click="setActive($index); newOpenMarker(company.name)">
                <h3 class="company__name">{{company.name}} ({{filterdVacancy.length}})</h3>
            </div>
            <div class="accordion__content">
                <ul class="vacancy">
                    <li ng-repeat="vacancy in company.vacancies | filter:query as filterdVacancy " class="vacancy__item" >
                        <a class="vacancy__title"
                           target="_blank"
                           ng-click="setActive($parent.$index, $index);additionalInfo(vacancy.vacancyDouLink);"
                           ng-class="{'vacancy--active' : $parent.activeCompany == $parent.$index && activeVacancy == $index}"
                           >{{vacancy.vacancyTitle}}
                            <b ng-if="vacancy.vacancySalary.length">{{vacancy.vacancySalary | rmNbsp}}</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="additional-info" ng-class="{'additional-info--visible' : showAdditional}">
    <a href="" ng-click="showAdditional = false; activeVacancy = -1;" class="back-btn" title="Сховати">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.676 26.676"><path d="M26.105 21.89c-.23 0-.44-.13-.53-.345-.065-.156-1.715-3.857-7.884-4.59-1.284-.156-2.823-.236-4.692-.25v4.613c0 .213-.115.406-.304.508-.188.098-.413.084-.588-.033L.254 13.815C.094 13.708 0 13.528 0 13.34c0-.192.094-.366.254-.478l11.857-7.98c.176-.12.4-.128.59-.028.19.102.302.295.302.502V9.65c2.578.335 13.674 2.33 13.674 11.673 0 .27-.19.508-.46.562-.036.006-.075.006-.11.006z"/></svg>
    </a>
    <div class="content"></div>
</div>




<!--<div ng-repeat="item in address | filter:query as filtered ">{{item}}</div>-->
<!--<div ng-model="test">{{filtered}}</div>-->